/* Documento de estilo para el curriculum de wall-e */
body{
    background-color: #FAEBD7;
    color: #a52A2A
}
.foto{
    width: 100px;
    vertical-align: left;
    /*height: 200px;*/
    float: center;
    
}
@font-face{
    font-family: "CFIRobotRegular";
    src: url(CFIRobotRegular.ttf);
}
@font-face{
    font-family: "robotech";
    src: url(robotech.ttf)
}
h1{
    font-family: "CFIRobotRegular";
    font-size: 100px;
    text-align: center;
    color: #070707;

}
h2{
    font-family: "robotech";
    font-size:50px;
    text-align: center;
    text-decoration: underline;
}
h2.contacto{
    font-family: "robotech";
    text-shadow: 2px 2px grey;
    border-top: #af4217 7px groove;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-decoration: underline #a52A2A;
    text-decoration-style: line;
    text-align: center;

}
.contacto{
    text-align: left;
    border-bottom: #af4217 7px groove;
    border-left: #af4217 7px groove;
    border-right: #af4217 7px groove;
}
.sobremi{
    text-align: left;
}
.estudios{
    text-align: center;
    vertical-align: top;
}