/* Documento de estilo para el curriculum de wall-e */
body{
    background-color: #FAEBD7;
    color: #a52A2A
}
.foto{
    width: 100px;
    vertical-align: top;
    /*height: 200px;*/
    float: right;
    
}
@font-face{
    font-family: "CFIRobotRegular";
    src: url(CFIRobotRegular.ttf);
}
@font-face{
    font-family: "robotech";
    src: url(robotech.ttf)
}
h1{
    font-family: "CFIRobotRegular";
    font-size: 100px;
    text-align: center;
    color: #070707;

}
h2{
    font-family: "robotech";
    font-size:50px;
    text-align: center;
}
