/* Documento de estilo para el curriculum de wall-e */
body{
    background-color: #FAEBD7;
    background-image: url("fondo3.jpg");
    color: white;
}

@font-face{
    font-family: "CFIRobotRegular";
    src: url(CFIRobotRegular.ttf);
}
@font-face{
    font-family: "robotech";
    src: url(robotech.ttf)
}
h1{
    font-family: "CFIRobotRegular";
    font-size: 100px;
    text-align: center;
    color: white;

}
h2{
    font-family: "robotech";
    font-size:50px;
    text-align: center;
    text-decoration: underline;
    position:inherit;
}
h2.contacto{
    font-family: "robotech";
    text-shadow: 2px 2px grey;
    border-top: #f7f4f3 7px groove;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-decoration: underline #f9fad1;
    text-decoration-style: line;
    text-align: center;
    position: inherit;

}
.contacto{
    text-align: left;
    border-bottom: #ffffff 7px groove;
    border-left: #ffffff 7px groove;
    border-right: #ffffff 7px groove;
    position: inherit;
    box-sizing: content-box;
    padding: 0px 0px 0px 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.textcontacto{
    text-align: center;
    position: inherit;
}
h2.sobremi{
    font-family: "robotech";
    text-shadow: 2px 2px grey;
    border-top: #ffffff 7px groove;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-decoration: underline #ffffff;
    text-decoration-style: line;
    text-align: center;
    position: inherit;
}
.sobremi{
    text-align: center;
    position: inherit;
    border-bottom: #ffffff 7px groove;
    border-left: #ffffff 7px groove;
    border-right: #ffffff 7px groove;
}
.estudios{
    text-align: center;
    vertical-align: top;
}
h2.estudios{
    font-family: "robotech";
    text-shadow: 2px 2px grey;
    border-top: #ffffff 7px groove;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-decoration: underline #ffffff;
    text-decoration-style: line;
    text-align: center;
    position: inherit; 
}
.estudios{
    text-align: center;
    border-bottom: #ffffff 7px groove;
    border-left: #ffffff 7px groove;
    border-right: #ffffff 7px groove;
    position: inherit;
}
ul{
    font: italic 120% monospace;
    margin: 10px;
    text-align: left;
    padding-left: 60px;

}
li{
    list-style-type: "🌼 ";
    align-items: center;
}
h2.Experiencias{
    font-family: "robotech";
    text-shadow: 2px 2px grey;
    border: #ffffff 7px groove;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-decoration: underline #ffffff;
    text-decoration-style: line;
    text-align: center;
    position: inherit; 

}
.Experiencias{
    text-align: center;
    border-bottom: #ffffff 7px groove;
    border-left: #ffffff 7px groove;
    border-right: #ffffff 7px groove;
    position: inherit;
}
h2.Idiomas{
    font-family: "robotech";
    text-shadow: 2px 2px grey;
    border: #ffffff 7px groove;
    border-right: none;
    border-left: none;
    border-bottom: none;
    text-decoration: underline #ffffff;
    text-decoration-style: line;
    text-align: center;
    position: inherit; 
}
.Idiomas{
    text-align: center;
    margin-right: 30px;
    position: inherit;
}
h2.Otros{
    text-align: center;
    position: inherit;
}
ul.Otros{
    margin-left: 1cm ;
}

.Otros{
    text-align: center;
    position: inherit;
}
div.contacto{
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
    margin-right: 5px;
}
#foto{ 
    padding: 8px 8px 20px 8px;
    width: 100%;
    margin-left: 10px;
    background-color: #ffffff;
    width: 200px;
    border: 1px solid #999999

}
div.sobremi{
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
    margin-right: 5px;
}
div.estudios{
    float: right;
    width: 70%;
    text-align: center;
    border-radius: 25px;
    margin-right: 5px;
}
